{% extends 'ejemplo_celulares/base.html' %}

{% block contenido %}
<div>
    <pre>
        Mi nombre es Celina Bodini, tengo 23 años y soy estudiante de Automarización. Soy de Santa fe pero hace 4 años que me fui a vivir a Mendoza. 
        Mi idea del curso de python es para complementar la carrera que estoy realizando ya que mucho de los dispositivos que utilizo se manejan con este idioma.
        Desde muy chica mi padre me ha influenciado en este mundo de la computación y es algo que agradezco.
    </pre>
</div>

{% endblock %}